<h1 mat-dialog-title>Add User </h1>
<div class="mat-dialog-content">
    <form [formGroup]="UserForm">
        <mat-form-field appearance="outline">
            <mat-label>Your Name</mat-label>
            <input formControlName="Name" matInput placeholder="Enter Name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="Email" matInput placeholder="Enter Email">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <mat-select formControlName="Role" placehloder="Role">
                <mat-option value="User">User</mat-option>
                <mat-option value="Admin">Admin</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addUser()">{{actionBTN}}</button>
</div>